monolog:
    handlers:
        nested:
            type: stream
            path: "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug
        deprecation:
            type: stream
            channels: [deprecation]
            path: "%kernel.logs_dir%/deprecations_%kernel.environment%.log"
            formatter: monolog.formatter.json
